:root {

    /* Background colors */
    --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --bg-carolina-blue: hsla(199, 89%, 49%, 1);
    --bg-prussian-blue: hsla(216, 33%, 20%, 1);
    --bg-oxford-blue: rgb(0, 0, 0);
    --bg-oxford-blue-2: rgb(0, 0, 0);
  
    /* Text colors */
    --text-white: hsla(0, 0%, 100%, 1);
    --text-alice-blue: hsla(216, 100%, 95%, 1);
    --text-columbia-blue: hsla(199, 69%, 84%, 1);
    --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --text-carolina-blue: hsla(199, 89%, 49%, 1);
    --text-shadow-blue: hsla(217, 24%, 59%, 1);
    --text-slate-gray: hsla(217, 17%, 48%, 1);
  
    /* Gradient colors */
    --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
    --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    --gradient-3: linear-gradient(0deg, #000d1a, transparent);
  
    /* Border colors */
    --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --border-prussian-blue: hsla(216, 33%, 20%, 1);
    --border-white: hsl(0, 0%, 100%);
    --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);
  
    /* Default colors */
    --white: hsl(0, 0%, 100%, 1);
    --black: hsl(0, 0%, 0%, 1);

    /* Font family */
    --fontFamily-noto_sans: 'Noto Sans', sans-serif;
  
    /* Font size */
    --fontSize-1: 2.9rem;
    --fontSize-2: 2.0rem;
    --fontSize-3: 1.8rem;
    --fontSize-4: 1.6rem;
    --fontSize-5: 1.5rem;
    --fontSize-6: 1.4rem;
    --fontSize-7: 1.2rem;
    --fontSize-8: 1.3rem;
  
    /* Font weight */
    --weight-medium: 500;
    --weight-semiBold: 600;
    --weight-bold: 700;
    --weight-extraBold: 800;
  
    /* Line height */
    --lineHeight-1: 1.3;
    --lineHeight-2: 1.5;
    --lineHeight-4: 1.5;
  
    /* BOX SHADOW */
  
    --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
    --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
  
    /* BORDER RADIUS */
  
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-16: 16px;
    --radius-48: 48px;
    --radius-circle: 50%;
    --radius-pill: 200px;
  
    /* SPACING */
  
    --section-padding: 70px;
  
    /* TRANSITION */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  
  }

  ::-webkit-scrollbar {
    width: 1px; 
    height: 0px;
  }
  
  ::-webkit-scrollbar-track:horizontal {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    background:transparent;
    border-radius: 10px;
  }
  
  

  
  /*---------------------------- RESET ----------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a,
  img,
  span,
  input,
  button,
  ion-icon { display: block; }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img { height: auto; }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
  }
  
  input {
    width: 100%;
    outline: none;
  }
  
  button { cursor: pointer; }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--bg-oxford-blue-2);
    color: var(--text-shadow-blue);
    font-family: var(--fontFamily-noto_sans);
    font-size: 1.6rem;
    line-height: var(--lineHeight-4);
    overflow-y: overlay;
    
  }
  
  body.nav-active { overflow: hidden; }
  
  ::-webkit-scrollbar { width: 5px; }
  
  ::-webkit-scrollbar-track { background-color: transparent; }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-carolina-blue);
    border-radius: var(--radius-pill);
  }
  
  
  
  

  /*---------------------------- REUSED STYLE ----------------------------*/

  
  .container { padding-inline: 16px; }
  
  .hover-1,
  .hover-2 { transition: var(--transition-1); }
  
  .hover-1:is(:hover, :focus-visible) { 
    color: var(--text-wild-blue-yonder);
    transform: translateX(3px);
  }
  
  .hover-2:is(:hover, :focus-visible) { color: var(--text-carolina-blue); }
  
  .profile-card {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-card .profile-banner { border-radius: var(--radius-circle); }
  
  .headline {
    color: var(--text-columbia-blue);
    line-height: var(--lineHeight-1);
  }
  
  .headline-1 {
    font-size: var(--fontSize-1);
    color: var(--text-alice-blue);
    font-weight: var(--weight-extraBold);
  }
  
  .headline-2 { font-size: var(--fontSize-2);
  margin-top: -170px;
  }
  .headline-8 { font-size: var(--fontSize-2);
    margin-top: -60px;
    }
  .headline-3 {
    font-size: var(--fontSize-2);
    line-height: var(--lineHeight-2);
  }
  
  .section-title { margin-block-end: 10px; }
  
  .btn {
    background-image: var(--gradient-2);
    background-size: 200%;
    background-position: left;
    color: var(--white);
    font-size: var(--fontSize-6);
    font-weight: var(--weight-bold);
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: var(--transition-1);
  }
  
  .btn:is(:hover, :focus-visible) { background-position: right; }
  
  .btn-primary {
    padding: 8px 16px;
    border-radius: var(--radius-6);
  }

  
  .btn-secondary {
    padding: 18px 30px;
    border-radius: var(--radius-pill);
  }
  
  .w-100 { width: 100%; }
  
  .card {
    background-color: var(--bg-oxford-blue);
    border: 1px solid var(--border-prussian-blue);
  }
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--bg-prussian-blue);
    overflow: hidden;
  }
  
  .img-holder1 {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--bg-prussian-blue);
    overflow: hidden;
    margin-top: 200px;
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .section { padding-block: var(--section-padding); }
  
  .section-text {
    font-size: var(--fontSize-3);
    margin-block-end: 70px;
  }
  
  .grid-list {
    display: grid;
    gap: 30px;
  }
  
  .card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-size: var(--fontSize-6);
    margin-block: 20px;
  }
  
  .card-wrapper :is(.card-tag, .wrapper) {
    display: flex;
    gap: 3px;
    align-items: center;
  }
  
  


  
  /*---------------------------- HEADER ----------------------------*/
  
  
.header .btn { display: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 24px;
  background-color: var(--bg-oxford-blue-2);
  z-index: 4;
}

.header.active {
  padding-block: 8px;
  box-shadow: var(--shadow-1);
  border-block-end: 1px solid var(--bg-prussian-blue);
  animation: slideIn 0.5s ease forwards;
  
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-open-btn,
.nav-close-btn {
  color: var(--text-wild-blue-yonder);
  font-size: 3.5rem;
}

.navbar {
  position: absolute;
  top: 0;
  right: -340px;
  max-width: 340px;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-oxford-blue-2);
  padding: 30px;
  z-index: 2;
  overflow-y: auto;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(-340px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
  
}
a.active {
  color: hsla(199, 89%, 49%, 1);
  font-family: 'Teko';
  font-size: 24px;
  margin-top: 9px;

}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 15px;
  margin-block-end: 15px;
  border-block-end: 1px solid var(--border-prussian-blue);
}

.navbar-list { border-block-end: 1px solid var(--border-white-alpha-15); }

.navbar-link {
  color: var(--text-alice-blue);
  font-weight: var(--weight-medium);
  padding-block: 10px;
  font-family: 'Teko';
  font-size: 24px;
}


.navbar-bottom {
  padding-block: 30px 20px;
  margin-block: 20px 25px;
  border-block: 1px solid var(--border-prussian-blue);
}

.navbar .profile-card { margin-block-end: 15px; }

.navbar .profile-card .card-title {
  color: var(--text-columbia-blue);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-semiBold);
}

.navbar .profile-card .card-subtitle { font-size: var(--fontSize-7); }

.navbar .link-list {
  columns: 2;
  -webkit-columns: 2;
 margin-bottom: 60px;
}

.navbar-bottom-link {
  color: var(--text-alice-blue);
  font-size: var(--fontSize-6);
  padding-block: 6px;
}

.copyright-text {
  color: var(--text-alice-blue);
  font-size: var(--fontSize-8);
}
  
 
  

  /*---------------------------- OPTIMIZED FOR MOBILE SCREEN ----------------------------*/


 @media (min-width: 575px) {

  /* CUSTOM PROPERTY*/

  :root {

    /* font size */
    --fontSize-1: 4.4rem;
    --fontSize-2: 3.5rem;

    /* spacing */

    --section-padding: 100px;

  }

  /* REUSED STYLE */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .headline-3 { --fontSize-2: 2.4rem; }

  /* HEADER */

  .header .btn {
    display: block;
    margin-inline-start: auto;
  }

  .header.active { padding-block: 20px; }

  /* HERO */

  .hero { position: relative; }

  .hero .input-wrapper { max-width: 390px; }

  .hero-bg {
    display: block;
    position: absolute;
    pointer-events: none;
  }

  .hero-bg-1 {
    top: 80px;
    left: 0;
  }

  .hero-bg-2 {
    bottom: -200px;
    left: -20px;
  }

  .shape-2 { left: 60px; }

  /* TOPICS */

  .topics .section-title { font-size: 2rem; }

  .slider { --slider-items: 3; }

  .slider-item { min-width: calc(33.33% - 13.33px); }

  /* FEATURE */

  .feature { position: relative; }

  .feature-bg {
    display: block;
    position: absolute;
    top: -100px;
    right: 0;
    pointer-events: none;
  }

  /* RECENT POST */

  .recent-post-card {
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
  }

  .pagination-btn {
    width: 42px;
    height: 42px;
  }

  /* ASIDE */

  .aside-title { --fontSize-2: 2rem; }

}



/*---------------------------- OPTIMIZED FOR MORE THAN 768PX SCREEN ----------------------------*/


@media (min-width: 768px) {

  /* CUSTOM PROPERTY */

  :root {

    /* font size */
    --fontSize-1: 6.4rem;
    --fontSize-2: 4.5rem;

  }

  /* REUSED STYLE */

  .container { max-width: 720px; }

  /* RECENT POST */

  .recent-post-card { grid-template-columns: 0.7fr 1fr; }

}



/*---------------------------- OPTIMIZED FOR TABLAT SCREEN ----------------------------*/

@media (min-width: 992px) {

  /* REUSED STYLE */

  .container { max-width: 930px; }

  /* HERO*/

  .hero { padding-block-start: calc(var(--section-padding) + 80px); }

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
    .header .btn {
      display: block;
      
    }

  }




/*---------------------------- optimized for pc screen ----------------------------*/

@media (min-width: 1200px) {

  /* REUSED STYLE */

  .container { max-width: 90%; }

  body.nav-active { overflow-y: overlay; }

  /* HEADER */

  .nav-open-btn,
  .navbar-top,
  .navbar-bottom,
  .copyright-text { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
  }

  .navbar-list {
    border-block-end: none;
    display: flex;
    gap: 40px;
    position: fixed;
    top: 27px;
    left: 38%;

  }
  
  .header .btn { margin-inline-start: 0; }

  .navbar-link {
    color: var(--text-wild-blue-yonder);
    font-weight: unset;
  }

  .navbar-link:is(:hover, :focus-visible) {
    color: var(--text-carolina-blue);
    transform: translateX(0);
  }

  /* HERO */

  .hero .container { max-width: 1050px; }

  }

